.container {
    width: 100%;
    height: 100%;
    padding-bottom: 200px;
    background-color: #d9d9d923;
    display: inline-block;
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
    padding-left: 32px;
    padding-right: 32px;
}

@media screen and (max-width: 1026px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}


@media screen and (max-width: 800px) {
    .container{
        clip-path:none;
        padding-bottom: 100px;
    }
}



.contentContainer  {
    margin-inline: auto;
    margin-top: 150px;
    width: 100%;
    max-width:1320px;
}

@media screen and (max-width: 800px) {
    .contentContainer  {
        margin-top: 100px;
    }

}

.h1 {

    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: -0.1em;
    color: rgba(81, 81, 81, 0.85);
}

@media screen and (max-width: 800px) {
    .h1{
        text-align: center;
        font-size: 52px;
        line-height: 60px;
    }
}

.infocontainer {
    width: 100%;
    margin-top: 150px;
    margin-inline: auto;
    max-width: 1207px;
    height: 550px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(109, 81, 56, 0.13);
    border-radius: 4px;
    padding: 2rem;
}

@media screen and (max-width: 800px) {
    .infocontainer {
        max-width: 660px;
        height: 550px;
        flex-direction: column;
        height: auto;
        margin-top: 50px;
    }
}

.infocontainerText {
 width: 60%;
 padding-right: 10rem;
}

@media screen and (max-width: 1182px) {
    .infocontainerText {
        width: 60%;
        padding-right: 2rem;
       }

}

@media screen and (max-width: 800px) {
    .infocontainerText {
        width: 100%;
        text-align: center;
        padding-right: unset;
       }
}

.infocontainerText h2{
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
  color: #5e5d5d
}

.infocontainerText p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 161.6%;
    letter-spacing: 0.02em;
    color: #333333;
    margin-top: 30px;
  }
   


.infocontainerinput {
    width: 40%;
    padding-top: 2rem;
    padding-left: 4rem;
    border-left: 1px solid #927b6763;
}


@media screen and (max-width: 1182px) {
    .infocontainerinput {
        padding-left: 2rem;
    }

}

@media screen and (max-width: 800px) {
    .infocontainerinput {
        margin-top: 5rem;
        width: 100%;
        padding-top: 4rem;
        padding-right: 1rem;
        padding-left: 1rem;
        border-top: 1px solid #927b6763;
        border-left: unset;
    } 

}

.infocontainerTextSmall {
    margin-top: 30px;
    padding-left: 3rem;
}

@media screen and (max-width: 800px) {
    .infocontainerTextSmall {
        padding-left: unset;
    }
}
.infocontainerTextSmall p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* or 22px */
    letter-spacing: 0.02em;
    color: #333333;
    margin: 0 !important;

}


.infocontainerTextSmall h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: -0.05em;
    color: #927B67;
    margin: 0 !important;
}

.infocontainerTextSmall h5 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #333333;
    margin: 0 !important;

}

.smallCont {
    margin-bottom: 1rem
}


/******* INPUTS********/


.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputContainer input {
    margin-top: 5px;
    border: none;
    border-bottom: 0.2px solid #33333325 !important;
    height: 35px;
    padding-left: 1rem;
    font-size: 15px;
    color: #444444;
}

.inputContainer textarea {
    margin-top: 5px;
    height: 100%;
    min-height: 130px;
    border: none;
    border-bottom: 0.2px solid #33333325 !important;
    padding-left: 1rem;
    padding-top: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #444444;
    resize: none;
}


.inputContainer input:focus {
    outline: 1px solid #927b6750;
}

.inputContainer label {
   
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
}


.inputContainer textarea:focus {  
    outline: 1px solid #927b6749;;
}

.inputBtn {
    width: 104px;
    height: 35px;
    background: #927B67;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    .inputBtn {
        margin-top: 3rem;
        width: 100%;
    }
}

.inputBtnColor {
    background-color: #90CDD6;
}

.imageContainer {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:  flex-end;
    gap: 3rem;
}

@media screen and (max-width: 800px) {
    .imageContainer {
        margin-top: 50px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items:  unset;
        justify-content: center;
        gap: 1rem;
    }
}

.imageContainer img {
    cursor: pointer;
    width: 90%;
}