.gallery_container {
    margin-top: 8rem;
    margin-bottom: 5rem;
}


@media screen and (max-width: 800px) {
    .gallery_container {
        margin-top: 6rem;
    }
}

.h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    font-size: 45px;
    line-height: 30px;
    /* or 47% */

    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #515151;
    margin-bottom: 8rem;
}

@media screen and (max-width: 800px) {
    .h1{
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .h1{
        font-size: 35px;
        line-height: 50px;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 360px) {
    .h1{
        line-height: 40px;  
      }
}

.buttoncontainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    flex-direction: column;
    

}

.buttoncontainer p {
    
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: -0.05em;
    color: #444444;
    margin: 0px 0px 22px 0px;
    cursor: pointer;
    padding: .5rem;
    padding-right:1.5rem ;
    padding-left: 1.5rem;

}


.P_Container {
    margin-inline:auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 1320px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 29px;
    /* or 161% */
    color: #252525;
}


.transformActive{
    outline: .5px  solid #ffce96e1 !important;
    border-radius: 5px;
    background-color: rgba(207, 207, 207, 0.034);
}

.transformActive {
    border-bottom: none;
}