
.container {
    margin-top: 100px;
    margin-bottom: 200px;
}

.headerContainer {
    margin-inline: auto;
    max-width:1320px;
    display: flex;
    justify-content: space-between;

}

.leftContainer {
    width: 50%;
}

.image {
    width: 100%;
    height: 100%;
    max-width: 466px;
    max-height: 537px;
}

.rightContainer  {
    justify-content: flex-end;
    display: flex;
    width: 50%;
    
}

.h1 {
    margin-bottom: 60px;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 119px;
    letter-spacing: -0.1em;
    color: rgba(81, 81, 81, 0.85);

}

.btn {
    margin-bottom: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    background: #7F7262;
    border-radius: 4px;
    box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24);
    transition: all 125ms ease-in-out;
}

.btn:hover {
    background: #918373;
}


.txt {
    font-family: 'Old Standard TT';
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    /* or 165% */
    letter-spacing: 0.05em;
}

.span {
    font-family: 'Old Standard TT';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    /* or 165% */

    letter-spacing: 0.05em;

    color: #6D5138;

}