.container {
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #e7e7e7;
    z-index: 100;
    -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.menu_container {
    width: 100%;
    margin-top: 5rem;
}

.ulDrop {
    font-size: 14px;
    width: 100%;
    padding: 0;

}

.ulDrop li {
    width: 100%;
    padding: .5rem .5rem .5rem 1.3rem;
    font-weight: 400;
    border-bottom: 1px solid rgba(46, 46, 46, 0.137);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ulDrop li a {
      padding-right: 100%;
    }

.btnContact {
        border: none;
        margin-top: 2rem;
        width: 100%;
        height: 40px;
        background-color: rgb(87, 87, 247);
        cursor: pointer;
        font-family: 'Open Sans';     
        letter-spacing: 0.02em;
        font-weight: 800;
        color: #EEEADE;
        font-size: 16px;
        line-height: 0;
        text-align: center;
}



 @-webkit-keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }