.containerNav {
    margin-top: 1rem;
    margin-inline: auto;
    width: 100;
    height: 7rem;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 1100px) {
    .container {
        justify-content: center;

     }
}


.logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    position: absolute;
}


@media screen and (max-width: 1100px) {
    .logo {
        top: 70px;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        top: 85px;
    }
}

.prefix_ul {
    width: auto;

}

@media screen and (max-width: 1100px) {
    .ul li {
        display: none;
     }
}

.ul{
    width: auto;
    height: 100%;
    display: flex;
    padding: 0 !important;

}

.ul li:not(:last-child) {
    margin-right: 16px;
}

.ul li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #515151;
    cursor: pointer;

}

.ul li a {
   transition: all .1s ease-in;
   padding-bottom: 3px;
   border-bottom: 1px solid #51515100;

}


.ul li a:hover {
    border-bottom: 1px solid #51515181;
}


.rightContainer {
    display: flex;
    align-items: center;
}

.btn {
    border: none;
    border-radius: 2px !important;
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-size: 16px !important;
    line-height: 25px !important;
    letter-spacing: 0.05em !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    cursor: pointer;
    background: linear-gradient(86.86deg, #7F7262 -140.52%, #BDAE88 244.18%);
    color: #ffffff !important;
    Width:160px !important;
    Height:40px !important;
    margin-left: 16px !important;
    transition: all 300ms ease-in-out;
}

.btn:hover {
    background: linear-gradient(86.86deg, #4d3f31 -100.52%, #BDAE88 244.18%);
}

@media screen and (max-width: 1100px) {
    .btn  {
        display: none;
     }
}