.containerNav {
    margin-top: 1rem;
    margin-inline: auto;
    width: 100;
    height: 7rem;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 1100px) {
    .container {
        justify-content: center;

     }
}


.logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    position: absolute;
}



@media screen and (max-width: 1100px) {
    .logo {
        top: 70px;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        top: 85px;
    }
}

.prefix_ul {
    width: auto;

}

@media screen and (max-width: 1100px) {
    .ul li {
        display: none;
     }
}

.ul{
    width: auto;
    height: 100%;
    display: flex;
    padding: 0 !important;

}

.ul li:not(:last-child) {
    margin-right: 16px;
}

.ul li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #515151;
    cursor: pointer;

}

.ul li a {
   transition: all .1s ease-in;
   padding-bottom: 3px;
   border-bottom: 1px solid #51515100;

}


.ul li a:hover {
    border-bottom: 1px solid #51515181;
}


.rightContainer {
    display: flex;
    align-items: center;
}

.btn {
    border:  1px  solid  #3C5549;
    border-radius: 2px;
    border-radius: 2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    background: transparent;
    color: #3C5549;
    Width:150px;
    Height:35px;
    margin-left: 16px;
    transition: all 125ms ease-in-out;
}

.btn:hover {
    background: #3C5549;
    color: white;
}

@media screen and (max-width: 1100px) {
    .btn  {
        display: none;
     }
}